div
{
    height: 1000px;
    width: 300px;
    background-image:url('../New folder/imgs/lol2.jpg');
    background-repeat:no-repeat;
    border:1px solid #000;
    background-attachment:scroll;
    background-position:
}
